
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --background-color:#000000;
    --text-color:#989898;
    --nunito-font:"Nunito Sans", sans-serif;
    --navbar-text-size:18px;
    --link-icon-size:22px;
    --home-page-heading-text-size:114px;
}